.sidebar-toggle {
    position: fixed;
    top: 2rem;
    left: 3rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: #f6e58d;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
  }
  
  .btn
  {
     display:inline-block;
     background-color: #535c68;
     color: #ecf0f1;
     padding: 0.375rem 0.75rem;
     font-size: medium;
     font-family: Georgia, 'Times New Roman', Times, serif;

    
  }

  .content-center
  {
      display: flex;
      text-align: center;
      justify-content: center;
      margin-top: 10rem;
  }